#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2em;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;

  &.dragging {
    background: yellow;
  }

  h2 {
    margin: 0;
    padding: 0;
  }

  .instructions {
    padding: 10px;

    p:first-of-type {
      margin-top: 0;
    }

    .select-view-mode {
      display: flex;
      flex-direction: column;
      margin: 10px 0;

      button {
        padding: 10px;
        width: 100px;
        font-size: 16px;
      }

      &>div {
        display: flex;
        gap: 10px;
        align-items: center;
        margin: 10px 0;
        font-size: 16px;
      }

    }
  }

  .split {
    display: flex;
    flex: 1;
    margin: 10px;

    .left {
      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      grid-gap: 0;
      gap: 0;
      flex: 1;

      .generate {
        padding: 10px;

        p:first-of-type {
          margin-top: 0;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      flex: 1;
      flex-grow: 0;
      min-width: 160px;
      gap: 10px;
      background-color: #dddddd7f;
      border-radius: 3px;
      padding: 5px;

      button {
        width: fit-content;
        padding: 3px 5px;
        border-radius: 3px;
        border: solid 1px #177991;
        background-color: #fff;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 3px;

        &:hover {
          background-color: rgba(114, 191, 202, 0.12);
        }
      }

      label {
        display: block;
        white-space: nowrap;
        font-weight: bold;
      }

      .generate {
        display: flex;
        flex-direction: column;
        gap: 7px;
        flex-grow: 0;

        .flex-col {
          display: flex;
          flex-direction: column;
          gap: 5px;

          select {
            padding: 2px;
            width: 100%;
            border-radius: 1.5px;
            border: solid 1px #177991;
            background-color: #fff;
          }
          input.bordered {
            padding: 2px;
            width: 55px;
            border-radius: 1.5px;
            border: solid 1px #177991;
            background-color: #fff;
          }
        }

        .flex-row {
          display: flex;
          flex-direction: row;
          gap: 10px;
        }

        .buttons {
          display: flex;
          gap: 5px;
        }
      }

      .sequence-output {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 5px;

        .output {
          display: flex;
          flex-direction: column;
          // gap: 10px;
          flex: 1;
          border: 1px solid #979797;
          background-color: white;
          position: relative;

          .inner-output {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: auto;

            .group {

              .header {
                background-color: #ccc;
                padding: 3px;
                display: flex;
                gap: 5px;
                cursor: pointer;

                &.expanded {
                  flex-direction: column;

                  .firstItem {
                    display: flex;
                    flex-direction: row;

                    .collapse {
                      flex-grow: 1;
                      text-align: right;
                      width: 10px;
                      height: 10px;
                      margin-top: -2px;
                    }
                  }
                }
                &.collapsed {
                  flex-direction: row;

                  .expand {
                    flex-grow: 1;
                    text-align: right;
                    width: 10px;
                    height: 10px;
                    margin-top: -2px;
                  }
                }
              }
              .sequences {
                padding: 5px;

                .sequence {
                  cursor: pointer;

                  &.highlighted {
                    background-color: #FF00877f;
                  }
                  &.disabled {
                    cursor: default;
                  }
                }
              }
            }
          }
        }

        .buttons {
          display: flex;
          gap: 5px;

          button {
            padding: 8px;
          }
        }
      }
    }
  }

  .nodeModalBackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.25;
    z-index: 100;
  }
  .nodeModal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    user-select: none;

    .nodeModalContent {
      min-width: 200px;

      .nodeModalTitle {
        background-color: #177991;
        color: white;
        padding: 5px 10px;
      }

      form {
        padding: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .nodeModalButtons {
          display: flex;
          gap: 5px;
          justify-content: flex-end;
        }
      }
    }
  }
}

