#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;

  &.dragging {
    background: yellow;
  }

  h2 {
    margin: 0;
    padding: 0;
  }

  .instructions {
    padding: 10px;

    p:first-of-type {
      margin-top: 0;
    }
  }

  .split {
    display: flex;
    flex: 1;
    margin: 10px;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      grid-gap: 0;
      gap: 0;
      flex: 1;

      .generate {
        padding: 10px;

        p:first-of-type {
          margin-top: 0;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      flex: 1;
      flex-grow: 0;
      gap: 10px;

      .generate {
        display: flex;
        flex-direction: column;
        gap: 7px;
        flex-grow: 0;

        .flex-col {
          display: flex;
          flex-direction: column;
          gap: 5px;

          label {
            display: block;
            white-space: nowrap;
          }

          select {
            padding: 2px;
            width: 125px;
          }
          input {
            padding: 2px;
            width: 55px;
          }
        }

        .flex-row {
          display: flex;
          flex-direction: row;
          gap: 10px;
        }

        .buttons {
          display: flex;
          gap: 5px;

          button {
            width: fit-content;
          }
        }
      }

      .sequence-output {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 10px;

        .output {
          display: flex;
          flex-direction: column;
          // gap: 10px;
          flex: 1;
          border: 1px solid #000;
          position: relative;

          .inner-output {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: auto;

            .group {

              .header {
                background-color: #ccc;
                padding: 3px;
                display: flex;
                gap: 5px;
                cursor: pointer;

                &.expanded {
                  flex-direction: column;
                }
                &.collapsed {
                  flex-direction: row;

                  .expand {
                    flex-grow: 1;
                    text-align: right;
                  }
                }
              }
              .sequences {
                padding: 5px;
              }
            }
          }
        }

        .buttons {

        }
      }
    }
  }

}

