#app {
  height: 100vh;
}

.app {
  &.dragging {
    border: solid thick yellow;
  }

  height: 90%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-gap: 0;
  gap: 0;
}

