.graph {
  flex: 1;
  flex-shrink: 0;
  // padding-top: 5px;

  text {
    pointer-events: none;
    user-select: none;
  }

  .rubberband {
    pointer-events: none;
  }

  svg ellipse.can-add-edge:hover {
    fill: lightgreen;
  }
  svg ellipse.can-delete:hover {
    fill: lightcoral;
  }
  svg line.can-delete:hover {
    stroke: lightcoral;
    stroke-opacity: 1;
  }
}